KEY_ID=2616fe9d-8119-481b-b6d6-81b15084048f
PRIVATE_KEY_BASE64=LS0tLS1CRUdJTiBQWklWQVRFLFtFWS0tLS0tCk1DNENBUUF3QlFZREsyVndCQ0lFSUobdDhnQUJhMXFFaDVrU1F2RmQ1N21xQ1ViNEpObUgwcnZGbHNEPGhVWGwKLS0tLS1FTkQgUFJKVkFURDBLRVktLS0tLQ==
SENDING_WALLET_ADDRESS=https://ilp.interledger-test.dev/sender
SENDING_WALLET_ADDRESS_EMAIL=sender@gmail.com
SENDING_WALLET_ADDRESS_PASSWORD=thesenderssupersafepassword