name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - main

jobs:
  govulncheck:
    name: Vulnerability scan
    runs-on: "ubuntu-24.04"
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Set up Go v1.24
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          check-latest: true
      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Scan for vulnerabilities
        run: govulncheck ./...

  build-and-test:
    runs-on: "ubuntu-24.04"
    strategy:
      matrix:
        go:
          - "1.21"
          - "1.22"
          - "1.23"
          - "1.24"
    name: "Build and test: go v${{ matrix.go }}"
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Set up Go v${{ matrix.go }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Ensure tidy
        run: go mod tidy
      - name: Verify module file consistency
        run: git diff --exit-code go.mod go.sum
      - name: Compile all packages
        run: go build ./...
      - name: Run unit tests
        run: go test

  integration-tests:
    name: Integration Tests (Testnet)
    runs-on: ubuntu-latest
    needs: build-and-test

    env:
      KEY_ID: ${{ secrets.KEY_ID }}
      PRIVATE_KEY_BASE64: ${{ secrets.PRIVATE_KEY_BASE64 }}
      SENDING_WALLET_ADDRESS: ${{ secrets.SENDING_WALLET_ADDRESS }}
      SENDING_WALLET_ADDRESS_EMAIL: ${{ secrets.SENDING_WALLET_ADDRESS_EMAIL }}
      SENDING_WALLET_ADDRESS_PASSWORD: ${{ secrets.SENDING_WALLET_ADDRESS_PASSWORD }}
      # # Ensure Go modules use the project root
      # GO111MODULE: on

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21

      # install chromium
      # - name: Install system dependencies
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y chromium-browser xvfb
      - name: Verify Go version
        run: go version

        # make artifacts dir and run chromium
        # - name: Run integration tests against testnet
        #   run: |
        #     echo "Running integration tests..."
        #     mkdir -p test/integration/artifacts
        #     xvfb-run --auto-servernum go test ./test/integration -v -env=testnet
        ## shell: bash

      - name: Run integration tests against testnet
        run: |
          echo "Running integration tests..."
          go test ./test/integration -v -env=testnet

      - name: Upload artifacts (screenshots, HTML)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: integration-test-artifacts
          path: test/integration/artifacts
