name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - main

jobs:
  govulncheck:
    name: Vulnerability scan
    runs-on: "ubuntu-24.04"
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Set up Go v1.24
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          check-latest: true
      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Scan for vulnerabilities
        run: govulncheck ./...

  build-and-test:
    runs-on: "ubuntu-24.04"
    strategy:
      matrix:
        go:
          - "1.21"
          - "1.22"
          - "1.23"
          - "1.24"
    name: "Build and test: go v${{ matrix.go }}"
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Set up Go v${{ matrix.go }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Ensure tidy
        run: go mod tidy
      - name: Verify module file consistency
        run: git diff --exit-code go.mod go.sum
      - name: Compile all packages
        run: go build ./...
      # Only run the unit tests for now. We will need to integrate with the test
      # wallet for the integration tests
      - name: Run unit tests
        run: go test 
