name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - main

jobs:
  govulncheck:
    name: Go Vulnerability Checks
    runs-on: "ubuntu-24.04"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          check-latest: true
      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Run vulnerability scan
        run: govulncheck ./...

  build-and-test:
    runs-on: "ubuntu-24.04"
    strategy:
      matrix:
        go:
          - "1.20"
          - "1.21"
          - "1.22"
          - "1.23"
          - "1.24"
    name: "Build: go v${{ matrix.go }}"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Tidy
        run: go mod tidy
      - name: Sanity check
        run: git diff --exit-code go.mod go.sum
      - name: Build
        run: go build ./...
      - name: Test
        run: go test # only run the unit tests for now
